@using Microsoft.Ajax.Utilities
@model IEnumerable<M32COM.Models.Cake>

@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_Layout.cshtml";
}




@*<img src="~/Images/Background/background.jpg" alt="Background Image" >*@


<div class="jumbotron">
    <h1>Cake Shop</h1>
    <p class="lead">Cake Shop is a free web shop for tasting great cakes  and  other bakery using vanilla, chocolate and Secret ingredients.</p>
    <p align="center" style="color: aliceblue"><p  style="color: aliceblue">@Html.ActionLink("Lets Start Shopping!", "Index", "Cakes" ,null,new { @class = "btn btn-primary"})</p>
</div>
@*
    <div class="row"/>
            <div class="col-md-4">
                <h2></h2>
                <p>

                </p>
                <p>
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2></h2>
                <p></p>
                <p>
                   <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2></h2>
                    <p></p>
                    <p>
                        <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
                    </p>
                </div>

        </div>*@